/* Google Fonts - Birthstone Designed by Robert Leuschke  */
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

/* Google Fonts - Playfair Display Designed by Claus Eggers Sørensen  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");


/* NAVBAR STYLING */
.navbar-brand {
    font-family: "Birthstone", cursive;
    font-size: 30px;
  }
  .navbar-custom {
    background-color: rgb(223, 236, 224) !important;
    font-family: "Playfair Display", serif;
    padding: 0;
  }
  
  /* Font styling for entire page */
  * {
    font-family: "Playfair Display", serif;
  }